*{
    font-size: 10px;
    /* font-style: oblique; */
    color: rgba(255, 235, 205, 0.897);
    font-family:'Times New Roman', Times, serif;
}

body {
background-color: rgba(0, 0, 0, 0.897);
}

body header h1 {
    font-size: 60px;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(105, 30, 30); 
    padding: 10px;
    margin-top:0%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

body header h2{
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    width: 50%;
    background-color: rgb(105, 30, 30); 
    padding: 15px;
    position: relative;
    position: center;
    margin-right: auto;
    margin-left: auto;
}






nav ul li  {
    text-decoration: none;
    margin-top: 15px;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
}

nav ul li :hover {
    color: rgb(224, 224, 224);
    background-color: rgb(105, 30, 30); 
   border-radius: 50px;
}


main ul.locations {
    width: 30%;
    padding: 10px;
    margin-top: 0px;
    font-size: 20px;
    position: relative;
    background-color: rgb(0, 0, 0);
    color:blanchedalmond; 
    }

    main ul li {
        margin-right: auto;
        margin-left: auto;
        font-size: 18px;
        margin-top: 5px;
        font-weight: normal;
    }



    
    
main div#info ul {
    text-align: left;
    font-size: 30px;
    margin-left: 40px;
    width: 28%;
    background-color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-bottom: 20px;
    margin-top: 30px;
float: left;

}

main div#info ul.info{
    position: absolute;
    margin-top: 20%;
}

main div#info p {
    text-align: left;
    padding-left:20px;
    font-size: 30px;

}


body main p.discreption {
    font-size: 25px;
    width: 60%;
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 10%;
    padding-left:40px;
}


main h4{
    font-size: 40px;
    padding: 20px;
    width: 20%;
    border-radius: 50px;
    margin-top: 550px;
    text-align: center;
    background-color: rgb(105, 30, 30); 
    margin-left: auto;
    margin-right: auto;
    }
    


 img:first-child { 

     width: 720px;
    height: 250px;
} 
img:nth-child(2) { 

    width: 750px;
   height: 250px;
} 

img:nth-child(3) { 
    margin: 30px;
    width: 300Px;
   height: 300px;
}

img:nth-child(4) { 
    margin: 30px;
    width: 300Px;
   height: 300px;
}
img:nth-child(5) { 
    margin: 30px;
    width: 300Px;
   height: 300px;
} 
img:nth-child(6) { 
    margin: 30px;
    width: 300Px;
   height: 300px;
} 

img:nth-child(7) { 
    position:relative;
    height: 400px;
    display:inline-block;
    padding-left: 25%;
    
} 





body header { 
    text-align: center;
    font-weight:bold;
    font-style: oblique;
}


h6 a {
    font-size: 35px;
    text-decoration: none;

}

h6 :hover {
    color: rgb(0, 0, 0);
    background-color:rgba(255, 235, 205, 0.74);
 }


table {
    background-color: rgb(53, 28, 28) ;
    border:solid;
    border-width: 10px;
    border-color: rgb(88, 76, 76);
     margin-left: auto;
     margin-right: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

th:hover {
    font-size: 25px;
}

td:hover {

font-size: 20px;
    }

tr:hover {
        background-color: rgb(105, 30, 30); 
    }


table tr td {
    border:solid;
    border-width: 1px;
    border-color: black;
    font-size: 25px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

table tr th {
    border:solid;
    border-color: rgb(10, 9, 9);
    font-size: 20px;
    padding: 7px;

}

footer p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px
}


main form#createCity {
    border: solid brown;
    width:700px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding:20PX;
}

main form#createCity label{
    font-size: 25px;
    text-align: center;
    padding-left: 50px;
}

main form#createCity input:first-child{
    text-align: left;

}

main form#createCity input{
    width:200px;
    padding:10px;
    text-align: left;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


main form#createCity input:last-of-type{
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align:center;
    display: block;
margin-left: 60%;
margin-right: auto;  
margin-bottom: 20px;
    
}

main form#createCity input:last-of-type:hover{
    background-color: brown;}


main  fieldset {
        border:none;
    }