*{
    box-sizing: border-box;
    font-size: medium;
    font-style: oblique;
    color: rgba(255, 235, 205, 0.897);
}

body {
background-color: rgba(0, 0, 0, 0.897);
}

body header h1 {
    font-size: 100px;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(255, 235, 205, 0.116);
    padding: 50px;
}

body header h2{
    font-size: 45px;
    margin-top: 0px;
    text-align: center;
    background-color: rgba(255, 235, 205, 0.116);
    padding: 50px;
}

nav {
    position: relative;
}

nav ul li a {
font-size: 30px;
text-decoration: none;
position: relative;
float:right;
}

nav ul li :hover {
    /* background-color: black; */
    color: black;
    text-underline-position: black;

}


img {
    width:400Px;
    height:400px;
}
}


body header { 
    text-align: center;
    font-weight:bold;
    font-style: oblique;
}


h6 a {
    text-decoration: none;
}

h6 {
    font-size: larger;
    text-decoration: none;
}


table {
    background-color: rgb(211, 207, 207) ;
    border:solid;
    border-width: 5px;
    border-color: black;
    position: relative;
    right: -220px;
    margin-top: 150px;
    width:70%;
    font;

}

table tr td {
    border:solid;
    border-width: 1px;
    border-color: black;
}

table tr th {
    border:solid;
    border-width: 2px;
    border-color: black;

}